RewriteEngine On
RewriteRule ^admin/book/edit/([^/]*)/?$ /admin/edit-book.php?title=$1 [L]
RewriteRule ^admin/book/add/?$ /admin/add-book.php [L]
RewriteRule ^book/([^/]*)/?$ /pages/book.php?title=$1 [L]
RewriteRule ^genre/([^/]*)/?$ /pages/genre.php?name=$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
ErrorDocument 404 /pages/404.php
